{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true
}